.app {
  overflow: hidden;
}
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style-type: none;
  padding-left: 0;
  margin: 6px 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}

.header__navbar-user-menu {
  position: absolute;
  list-style: none;
  padding-left: 0;
  right: 0;
  top: calc(100% + 6px);
  border-radius: 2px;
  width: 160px;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  right: 8px;
  top: -24px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__navbar-user-item {
  padding-left: 16px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item::before {
  content: "";
  position: absolute;
  top: -16px;
  right: 0;
  height: 16px;
  width: 56%;
  background-color: transparent;
}

.header__navbar-user-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item:first-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item:hover {
  background-color: #fafafa;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 8px 0;
}



.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fff;
  height: 14px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-item,
.header__narbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__narbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__narbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item-disable {
  cursor: text;
  color: var(--white-color);
}

.header--qr:hover .header__qr {
  display: block;
}

.header__qr {
  background: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  padding: 16px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.3s;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
  position: absolute;
  width: 100%;
  height: 20px;
  content: "";
  left: 0;
  top: -16px;
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-chplay {
  height: 15px;
  margin-left: 10px;
}

.header__qr-appstor {
  height: 15px;
  margin-right: 10px;
}

.header__notify {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 118%;
  width: 404px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: default;
  transform-origin: calc(100% - 32px) top;
  animation: headerNotifygrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}

.header__notify::before {
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -28px;
  right: 4px;
}

.header__notify::after {
  content: "";
  position: absolute;
  top: -16px;
  right: 0;
  height: 20px;
  width: 90px;
  background-color: transparent;
}

@keyframes headerNotifygrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header__notify--display:hover .header__notify {
  display: block;
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400px;
  font-size: 1.4rem;
  line-height: 40px;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.07);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black-color);
  line-height: 1.8rem;
}

.header__notify-descriotinon {
  display: block;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #000;
  margin-top: 4px;
}

.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0px;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.auth {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth--container {
  padding: 0 32px;
}

.auth__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.auth__header-heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth__header-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth__form {
  margin-top: 16px;
}

.auth__form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth__form-input:focus {
  border: #999 solid 1px;
}

.auth__form-text {
  padding: 0 12px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth__form-text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth__form-controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth__form-control-back {
  margin-right: 8px;
}

.auth__form-socials {
  background: #dcdcdc;
  padding: 14px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.auth__form-socials-icon {
  font-size: 1.8rem;
}

.auth__form-socials--facebook .auth__form-socials-icon {
  color: var(--white-color);
}

.auth__form-socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth__form-socials-text {
  margin: 0 36px;
}

.auth__form-socials-text-login {
  margin: 0 24px;
}

.auth__form-socials--google {
  color: #666;
  background-color: var(--white-color);
}

.auth__form-help {
  display: flex;
  justify-content: flex-end;
}

.auth__form-help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth__form-help__sperate {
  display: block;
  border-left: 1px solid #eaeaea;
  height: 20px;
  margin: 0 16px;
}

.auth__form-help-forgot {
  color: var(--primary-color);
}

/* header-search */

.header-search {
  height: var(--search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.header__mobile-search{
  padding: 4px 12px;
  display: none;
}
.header__mobile-search-icon{
  font-size: 2.6rem;
  color: var(--white-color);
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  display: block;
  line-height: 0;
}


.header__logo-img {
  text-decoration: none;
  display: inline-block;
  color: transparent;
}

.header__logo-img {
  width: 150px;
}

.header__search-checkbox:checked ~ .header-search__search {
  display: flex;
}

.header-search__search {
  flex: 1;
  background-color: var(--white-color);
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header-cart {
  width: 150px;
  text-align: center;
}

.hearder-cart-wrap {
    position: relative;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
}

.hearder-cart-notice {
  position: absolute;
  background-color: var(--white-color);
  top: -3px;
  right: -5px;
  padding: 2px 8px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 12px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
}

.hearder-cart-wrap:hover .header-cart-list {
    display: block;
}

.header-cart-list::before {
    content: "";
    position: absolute;
    right: 2px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header-cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header-cart-list--no-cart {
    padding: 24px 0;
}

.header-cart-list--no-cart .header-cart-no-cart-img,
.header-cart-list--no-cart .header-cart-list-nocart-smg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-cart-no-cart-img {
    width: 50%;
    display: none;
}

.header-cart-list-nocart-smg {
    display: none;
    font-size: 1.4rem;
    margin-top: 24px;
    color: var(--text-color);
}

.header-cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 6px;
}

.header-search__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header-search__history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 95%;
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgb(212, 212, 212);
    border-radius: 2px;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header-search__history-heading {
    padding-left: 16px;
    color: #939393;
    font-size: 1.4rem;
    font-weight: 400;
}

.header-search__history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.header-search__history-item {
    padding: 0 16px;
    height: 38px;
    cursor: pointer;
}



.header-search__history-item:hover {
    background-color: #fafafa;
}

.header-search__history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header-search__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header-search__search-input:focus ~ .header-search__history {
    display: block;
}

.header-search__select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-search__select:hover .header-search-option {
  display: block;
  cursor: pointer;
}

.header-search__select::after {
  content: "";
  display: block;
  height: 8px;
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
}
.header-search__select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header-search__select-icon {
  margin: 0 16px 0 8px;
  color: #4a4a4a;
  font-size: 1.4rem;
  position: relative;
  top: 2px;
}

.header-search__icon {
  font-size: 1.6rem;
  color: var(--white-color);
  border: none;
  height: 34px;
  border-radius: 2px;
  background-color: var(--primary-color);
  margin-right: 3px;
  width: 60px;
  outline: none;
}

.header-search__icon:hover {
  background-color: #fe6433;
}

.header-search-option {
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
  width: 130px;
  margin: 0;
  list-style-type: none;
  box-shadow: 0 1px 2px rgb(226, 223, 223);
  padding-left: 0;
  border-radius: 2px;
  overflow: hidden;
  display: none;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}

.header-search-option-item {
  background-color: var(--white-color);
  padding: 8px;
}

.header-search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header-search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header-search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header-search-option-item--active i {
  display: inline-block;
}

.header-cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header-cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 56vh;
  overflow-y: auto;
}

.header-cart-list-item:hover {
  background-color: #f8f8f8;
}

.header-cart-item {
  display: flex;
  align-items: center;
}

.header-car-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid var(--border-color);
}

.header-cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header-cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header-cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header-cart-item-multiply {
  color: #757575;
  font-size: 0.9rem;
  margin: 0 4px;
}

.header-cart-item-qnt {
  color: #757575;
  font-size: 1.2rem;
}

.header-cart-item-body {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

}

.header-cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header-cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.header-cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header-cart-view {
  float: right;
  margin: 0 12px 12px 0;
  font-weight: 500;
}

.header-cart-view:hover {
  background-color: #fe6433;
}
.header__sort-bar{
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: none;
}
.header__sort-item{
  flex: 1;
}
.header__sort-link{
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  line-height: var(--header-sort-bar-height);
  width: 100%;
  text-align: center;
}
.header__sort-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}
.header__sort-link-active {
  color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link:first-child::before {
  border: none;
}

/* app__container */

.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 32px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category-item {
  position: relative;
}

.category-item:first-child::before {
  display: none;
}

.category-item::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
}

.category__heading {
  font-size: 1.6rem;
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 400;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 10px;
}

.category-item--active .category-item__link{
  color: var(--primary-color);

}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  position: relative;
  right: 0;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 16px;
  display: block;
  font-size: 1.5rem;
  transition: right linear 0.1s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}

.mobile-category{

}
.mobile-category__list{
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}
.mobile-category__item{

}
.mobile-category__link{
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}
/* home filter */
.home-filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter-label {
  color: #555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter-btn {
  min-width: 90px;
  margin-right: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.home-filter__pag {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__pag-num {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-right: 22px;
}

.home-filter__pag-curent {
  color: var(--primary-color);
}

.home-filter__pag-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.home-filter__pag-btn {
  display: flex;
  flex: 1;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__pag-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__pag-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

.home-filter__pag-btn--disable {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__pag-btn--disable .home-filter__pag-icon {
  color: #ccc;
}

/* product item */

.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s ;
  will-change: transform;
  display: block;
  text-decoration: none;
  padding-bottom: 6px;
}

.home-product-item:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}

.home-product-item-img {
  padding-top: 100%;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 10px 10px 6px;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;

}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-left: 10px;
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.home-product-item-action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}

.home-product-item-like {
  font-size: 1.3rem;
}

i.home-product-item-like-icon-fill {
  display: none;
  color: #f63d30;
}
.home-product-item-liked .home-product-item-like-icon-fill {
  display: inline-block;
}

.home-product-item-liked .home-product-item-like-icon-empty {
  display: none;
}

.home-product-item-rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin-left: 1px 0 0 auto;

}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item-origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
  content: "";
  position: absolute;
  border-left: 3px solid transparent;
  border-top: 3px solid currentColor;
  top: 16px;
  left: 0;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  color: var(--white-color);
}

.home-product-item__favourite i {
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
  color: var(--white-color);
}
.home-product-item__sale-of {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64, 0.92);
  border-top-right-radius: 2px ;
}

.home-product-item__sale-of::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.92) transparent rgba(255, 216, 64, 0.92);
}

.home-product-item__sale-of-percent {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  top: 2px;
  line-height: 1.2rem;
}

.home-product-item__sale-of-label {
  color: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 4px;
  font-weight: 600px;
}

.home-product__pagination {
  margin: 48px 0 32px;
  padding-left: 0;
}


/* footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
}

.footer__heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px 0 0;
}

.footer__download {
  display: flex;
  align-items: center;
}

.footer__download-qr {
  width: 80px;
  object-fit: contain;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  margin-left: 16px;
}

.footer__download-apps-img:first-child {
  margin-bottom: 8px;
}

.footer__download-apps-img {
  height: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__download-apps-link {
  text-decoration: none;
  color: transparent;
}

.footer__bottom {
  background-color: #f5f5f5;
  text-align: center;
  padding: 12px 0;
  margin-top: 32px;
}

.footer__text {
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  color: #737373;
}


